.header {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 0px;
    background: #091242;
    display: flex;

}
.logo {
    
    width: 210.13px;
    height: 36px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header_obj {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 244px;

    position: absolute;
    width: 1199.13px;
    height: 68px;
    left: 360px;
    top: 46px;
}

@media screen {
    
}
